.post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
}

.purple {
    background-color: blueviolet;
    position: absolute;
}



.post-preview {
    display: flex;
    flex-direction: column;
    margin: 70px;
    background-color: rgb(238, 0, 255);
    opacity: 80%;
    border: none;
}

