.navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 99px;
    justify-content: center;
    margin-top: 40px;
    margin: auto;
    padding: unset;
}