
input {
    width: 25%;
}

.todo-container {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}